In [5]:
#Loading the Dataset & Inspect Structure
import pandas as pd
df = pd.read_csv('Dataset.csv')
print("========== [MODULE 1: Dataset Overview] ==========\n")
print(f" Dataset Loaded Successfully!")
print(f" Total Records   : {df.shape[0]}")
print(f" Total Features  : {df.shape[1]}\n")
print("Column Names:")
print("-" * 50)
for col in df.columns:
    print(f"• {col}")
print("-" * 50)

print("\nSample Records (Top 5 Rows):")
print(df.head().to_markdown(index=False))

========== [MODULE 1: Dataset Overview] ==========

 Dataset Loaded Successfully!
 Total Records   : 21609
 Total Features  : 31

Column Names:
--------------------------------------------------
• Sale_Price
• No of Bedrooms
• No of Bathrooms
• Flat Area (in Sqft)
• Lot Area (in Sqft)
• No of Floors
• No of Times Visited
• Overall Grade
• Area of the House from Basement (in Sqft)
• Basement Area (in Sqft)
• Age of House (in Years)
• Latitude
• Longitude
• Living Area after Renovation (in Sqft)
• Lot Area after Renovation (in Sqft)
• Years Since Renovation
• Condition_of_the_House_Excellent
• Condition_of_the_House_Fair
• Condition_of_the_House_Good
• Condition_of_the_House_Okay
• Ever_Renovated_Yes
• Waterfront_View_Yes
• Zipcode_Group_Zipcode_Group_1
• Zipcode_Group_Zipcode_Group_2
• Zipcode_Group_Zipcode_Group_3
• Zipcode_Group_Zipcode_Group_4
• Zipcode_Group_Zipcode_Group_5
• Zipcode_Group_Zipcode_Group_6
• Zipcode_Group_Zipcode_Group_7
• Zipcode_Group_Zipcode_Group_8
• Zipcode_Group_Zipcode_Group_9
--------------------------------------------------

Sample Records (Top 5 Rows):
|   Sale_Price |   No of Bedrooms |   No of Bathrooms |   Flat Area (in Sqft) |   Lot Area (in Sqft) |   No of Floors |   No of Times Visited |   Overall Grade |   Area of the House from Basement (in Sqft) |   Basement Area (in Sqft) |   Age of House (in Years) |   Latitude |   Longitude |   Living Area after Renovation (in Sqft) |   Lot Area after Renovation (in Sqft) |   Years Since Renovation |   Condition_of_the_House_Excellent |   Condition_of_the_House_Fair |   Condition_of_the_House_Good |   Condition_of_the_House_Okay |   Ever_Renovated_Yes |   Waterfront_View_Yes |   Zipcode_Group_Zipcode_Group_1 |   Zipcode_Group_Zipcode_Group_2 |   Zipcode_Group_Zipcode_Group_3 |   Zipcode_Group_Zipcode_Group_4 |   Zipcode_Group_Zipcode_Group_5 |   Zipcode_Group_Zipcode_Group_6 |   Zipcode_Group_Zipcode_Group_7 |   Zipcode_Group_Zipcode_Group_8 |   Zipcode_Group_Zipcode_Group_9 |
|-------------:|-----------------:|------------------:|----------------------:|---------------------:|---------------:|----------------------:|----------------:|--------------------------------------------:|--------------------------:|--------------------------:|-----------:|------------:|-----------------------------------------:|--------------------------------------:|-------------------------:|-----------------------------------:|------------------------------:|------------------------------:|------------------------------:|---------------------:|----------------------:|--------------------------------:|--------------------------------:|--------------------------------:|--------------------------------:|--------------------------------:|--------------------------------:|--------------------------------:|--------------------------------:|--------------------------------:|
|       221900 |                3 |              1    |                  1180 |                 5650 |              1 |                     0 |               7 |                                        1180 |                         0 |                        63 |    47.5112 |    -122.257 |                                     1340 |                                  5650 |                        0 |                                  0 |                             1 |                             0 |                             0 |                    0 |                     0 |                               0 |                               0 |                               0 |                               0 |                               0 |                               0 |                               0 |                               0 |                               0 |
|       538000 |                3 |              2.25 |                  2570 |                 7242 |              2 |                     0 |               7 |                                        2170 |                       400 |                        67 |    47.721  |    -122.319 |                                     1690 |                                  7639 |                       26 |                                  0 |                             1 |                             0 |                             0 |                    1 |                     0 |                               0 |                               1 |                               0 |                               0 |                               0 |                               0 |                               0 |                               0 |                               0 |
|       180000 |                2 |              1    |                   770 |                10000 |              1 |                     0 |               6 |                                         770 |                         0 |                        85 |    47.7379 |    -122.233 |                                     2720 |                                  8062 |                        0 |                                  0 |                             1 |                             0 |                             0 |                    0 |                     0 |                               0 |                               1 |                               0 |                               0 |                               0 |                               0 |                               0 |                               0 |                               0 |
|       604000 |                4 |              3    |                  1960 |                 5000 |              1 |                     0 |               7 |                                        1050 |                       910 |                        53 |    47.5208 |    -122.393 |                                     1360 |                                  5000 |                        0 |                                  1 |                             0 |                             0 |                             0 |                    0 |                     0 |                               0 |                               0 |                               1 |                               0 |                               0 |                               0 |                               0 |                               0 |                               0 |
|       510000 |                3 |              2    |                  1680 |                 8080 |              1 |                     0 |               8 |                                        1680 |                         0 |                        31 |    47.6168 |    -122.045 |                                     1800 |                                  7503 |                        0 |                                  0 |                             1 |                             0 |                             0 |                    0 |                     0 |                               0 |                               0 |                               0 |                               1 |                               0 |                               0 |                               0 |                               0 |                               0 |

In [6]:
# Removing Duplicates
before = df.shape[0]
df = df.drop_duplicates()
after = df.shape[0]

print("\n========== [MODULE 2: Duplicate Removal] ==========")
print(f" Rows Before Duplicate Removal : {before}")
print(f" Duplicates Removed            : {before - after}")
print(f" Rows After Duplicate Removal  : {after}")

========== [MODULE 2: Duplicate Removal] ==========
 Rows Before Duplicate Removal : 21609
 Duplicates Removed            : 11
 Rows After Duplicate Removal  : 21598

In [12]:
# Checking Missing Values
missing = df.isnull().sum()
missing = missing[missing > 0]

print("\n========== [MODULE 3: Missing Value Check] ==========")
if not missing.empty:
    print("❗ Missing Values Found:\n")
    print(missing.to_frame(name='Missing Count').to_markdown())
else:
    print("✅ No Missing Values Detected!")

========== [MODULE 3: Missing Value Check] ==========
❗ Missing Values Found:

|                 |   Missing Count |
|:----------------|----------------:|
| House Age Group |            1242 |

In [11]:
#Detecting and Remove Outliers
print("\n========== [MODULE 4: Outlier Detection] ==========")
print(f" Max Bedrooms       : {df['No of Bedrooms'].max()}")
print(f" Max Bathrooms      : {df['No of Bathrooms'].max()}")
print(f" Min Flat Area (sqft): {df['Flat Area (in Sqft)'].min()}\n")

# Remove unreasonable outliers
df = df[(df['No of Bedrooms'] <= 10) &
        (df['No of Bathrooms'] <= 6) &
        (df['Flat Area (in Sqft)'] >= 300)]

print("✅ Outlier Records Removed Based On:")
print("   • Bedrooms > 10")
print("   • Bathrooms > 6")
print("   • Flat Area < 300 sqft")
print(f"\n📊 Remaining Rows After Cleaning: {df.shape[0]}")

========== [MODULE 4: Outlier Detection] ==========
 Max Bedrooms       : 10
 Max Bathrooms      : 6.0
 Min Flat Area (sqft): 370

✅ Outlier Records Removed Based On:
   • Bedrooms > 10
   • Bathrooms > 6
   • Flat Area < 300 sqft

📊 Remaining Rows After Cleaning: 21585

In [13]:
# Feature Engineering
df['Total Area (in Sqft)'] = df['Flat Area (in Sqft)'] + df['Basement Area (in Sqft)']
df['House Age Group'] = pd.cut(df['Age of House (in Years)'],
                               bins=[0, 10, 20, 30, 40, 100],
                               labels=['0-10', '11-20', '21-30', '31-40', '40+'])

print("\n========== [MODULE 5: Feature Engineering] ==========")
print("🆕 New Features Added:")
print("   • Total Area (in Sqft)")
print("   • House Age Group\n")

print("Sample View of Engineered Features:\n")
print(df[['Flat Area (in Sqft)', 'Basement Area (in Sqft)',
          'Total Area (in Sqft)', 'Age of House (in Years)',
          'House Age Group']].head().to_markdown(index=False))

========== [MODULE 5: Feature Engineering] ==========
🆕 New Features Added:
   • Total Area (in Sqft)
   • House Age Group

Sample View of Engineered Features:

|   Flat Area (in Sqft) |   Basement Area (in Sqft) |   Total Area (in Sqft) |   Age of House (in Years) | House Age Group   |
|----------------------:|--------------------------:|-----------------------:|--------------------------:|:------------------|
|                  1180 |                         0 |                   1180 |                        63 | 40+               |
|                  2570 |                       400 |                   2970 |                        67 | 40+               |
|                   770 |                         0 |                    770 |                        85 | 40+               |
|                  1960 |                       910 |                   2870 |                        53 | 40+               |
|                  1680 |                         0 |                   1680 |                        31 | 31-40             |

In [14]:
# Saving Cleaned Data
df.to_csv("Cleaned_Dataset.csv", index=False)

print("\n========== [MODULE 6: Save Cleaned Dataset] ==========")
print("💾 Cleaned dataset successfully saved as Processed_Dataset.csv")

========== [MODULE 6: Save Cleaned Dataset] ==========
💾 Cleaned dataset successfully saved as Processed_Dataset.csv